version: "3.9"
services:
  db:
    image: postgres:17.6
    container_name: bookstore-pg
    restart: unless-stopped
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: admin@003
      POSTGRES_DB: bookstore
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: bookstore_pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin
      TZ: Asia/Ho_Chi_Minh
    ports:
      - "5050:80"
    depends_on:
      - db 

volumes:
  pgdata:
